<head>
  <!-- Preconexión a los dominios de Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Carga de la fuente Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Barra de navegación -->
  <mat-toolbar color="primary">
    <span>CSIMarkt</span>

    <span class="spacer"></span>

    <!-- Botones de Iniciar sesión y Registrarse -->
    <button mat-button class="custom-button">Iniciar sesión</button>
    <button mat-button class="custom-button">Registrarse</button>
  </mat-toolbar>
</body>
