/* Aplicar la fuente Poppins globalmente */
body {
  font-family: 'Poppins', sans-serif;
}

/* Barra de navegación */
mat-toolbar {
  background-color: red; /* Color azul para la barra de navegación */
  color: white; /* Texto blanco en la barra */
  font-family: 'Poppins', sans-serif; /* Fuente Poppins */
  padding: 0 16px; /* Espaciado interno en los lados */
}

/* Estilos para los botones */
button.custom-button {
  font-family: 'Poppins', sans-serif;
  background-color: white; /* Rojo para los botones */
  color: black;
  border-radius: 4px;
  padding: 8px 16px; /* Añadir algo de relleno */
  margin-left: 16px; /* Espacio entre los botones */
}

button.custom-button:hover {
  background-color: whitesmoke; /* Rojo más oscuro cuando el mouse pasa por encima */
}

/* Espaciado entre los elementos de la barra de navegación */
mat-toolbar .spacer {
  flex: 1 1 auto;
}

/* Asegurar que los botones se alineen correctamente */
mat-toolbar button {
  margin-left: 16px; /* Espacio entre los botones */
}
