.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las columnas */
}

.col-12 {
  margin-bottom: 20px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
}

.app-product {
  width: 100%;
  max-width: 350px; /* Controla el tamaño máximo de la tarjeta */
  margin: 0 auto;
}

@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 100%; /* En pantallas pequeñas, las tarjetas ocuparán todo el ancho */
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 32%; /* En pantallas medianas y grandes, las tarjetas ocupan 1/3 del ancho */
  }
}
