.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre columnas */
  justify-content: center; /* Centra las columnas en caso de que haya menos de las necesarias para una fila completa */
}

.col-12 {
  margin-bottom: 20px; /* Margen inferior entre filas */
}

.col-md-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.app-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-product:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.app-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .col-md-3 {
    flex: 0 0 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 24%; /* Ocupa un 24% en pantallas medianas o mayores */
  }
}
